.nav-container {
  background: rgb(62, 102, 214);
  padding: 10px;
}

.nav-container a {
  text-decoration: none;
  color: white;
}
.links {
  display: flex;
  justify-content: space-around;
  /* border: 1px solid blue; */
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.links h1 {
  padding: 0;
  margin: 0;
}
.links li {
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
  padding-left: 20px;
}

.home-logo {
  /* border: 1px solid red; */
  flex: 4;
  margin-left: 20px;
}

.search {
  flex: 4;
  /* border: 1px solid red; */
  border-radius: 30px;
  background: white;
  padding-left: 10px;
}

.search input {
  /* border: 1px solid rgb(255, 81, 0); */
  /* padding: 10px; */
  width: 90%;
  /* border-radius: 20px; */
  border: none;
}

.search input:focus {
  outline: none;
}

.homepage {
  flex: 1;
  /* border: 1px solid green; */
}

.timeline {
  flex: 1;
  /* border: 1px solid green; */
}

.profile-links {
  flex: 1;
  display: flex;
  list-style-type: none;
  /* border: 1px solid red; */
  margin-right: 40px;
}

.profile-links li {
  /* border: 1px solid green; */
  /* padding-left: 20px; */
}

.found-users {
  border: 1px solid rgb(219, 217, 217);
  border-top: 1px solid blue;

  width: 300px;

  background: white;

  border-radius: 6px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.found-users ul {
  list-style-type: none;
  padding: 2px;
}

.found-users a {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.found-users li:hover {
  background: rgb(212, 212, 212);
  border-radius: 4px;
}
.found-users li {
  /* border: 1px solid green; */
  padding: 6px;
  color: black;
  margin: 4px;
}
